body {
    background-color: #f7f7f7;
    
    height: 350px;
    width: 200px;
}
.circular-color-input {
    border: none;
    width: 25px; 
    height: 25px; 
    border-radius: 50%;
    outline: 1px solid #9f9f9f;
    padding: 0;
    
}
.submit{
    display:flex;
    margin:auto;
}
.unsubmit{
    display:flex;
    margin:auto;
}
.unopen{
    display:flex;
    margin:auto;
}
.circular-color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.circular-color-input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
.savebutton {
    overflow: hidden;
    position:fixed;
    bottom:3%;
    left:5%;
    margin-left:auto;
    margin-right: auto;
    width:90%;
    height:30px;
    border-radius: 12px;
    background-color: #E8473F;
    color:#ffffff;
    border: none;
}
.submitLabel{
    color:#FF652F;
    display:block;
    font-family: cursive;
    font-weight: bolder;
}
.unsubmitLabel{
    color:#007bff;
    display:block;
    font-family: cursive;
    font-weight: bolder;
}
.unopenLabel{
    color:#14A76C;
    display:block;
    font-family: cursive;
    font-weight: bolder;
}