body {
    background-image: #F0F0F0;
    height: 350px;
    width: 200px;
}
.circular-color-input {
    /* appearance: none; */
    border: none;
    width: 25px; /* Adjust the size of the input */
    height: 25px; /* Adjust the size of the input */
    border-radius: 50%;
    outline: 2px solid #000000;
    padding: 0;
    
}
.xtext{
    color: #E8473F;
    font-family: Arial, Helvetica, sans-serif;
}
.submit{
    display:flex;
    margin:auto;
}
.unsubmit{
    display:flex;
    margin:auto;
}
.unopen{
    display:flex;
    margin:auto;
}
.circular-color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.circular-color-input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
.savebutton {
    overflow: hidden;
    position:fixed;
    bottom:3%;
    left:5%;
    margin-left:auto;
    margin-right: auto;
    width:90%;
    height:30px;
    background-color:#E8473F;
    border-radius: 12px;
    color:#F0F0F0;
    outline:none;
}