body {
    background-color: #f4f8fc;
    height: 350px;
    width: 200px;
}
.top-bar{
    left: 0px;
    top: 0px;
    width: 200%;
    height:60px;
    background-color: #28384a;
    color:#fff;
}
.circular-color-input {
    /* appearance: none; */
    border: none;
    width: 25px; /* Adjust the size of the input */
    height: 25px; /* Adjust the size of the input */
    border-radius: 50%;
    outline: 2px solid #d4d4d4;
    padding: 0;
    
}
.xtext{
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
}
.submit{
    display:flex;
    margin:auto;
}
.unsubmit{
    display:flex;
    margin:auto;
}
.unopen{
    display:flex;
    margin:auto;
}
.circular-color-input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.circular-color-input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
.savebutton {
    overflow: hidden;
    position:fixed;
    bottom:3%;
    left:5%;
    margin-left:auto;
    margin-right: auto;
    width:90%;
    height:30px;
}